In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('pizza_sales/orders.csv')

In [4]:
df.head()

   order_id        date      time
0         1  2015-01-01  11:38:36
1         2  2015-01-01  11:57:40
2         3  2015-01-01  12:12:28
3         4  2015-01-01  12:16:31
4         5  2015-01-01  12:21:30

In [6]:
df['order_id'].head()

0    1
1    2
2    3
3    4
4    5
Name: order_id, dtype: int64

In [7]:
duplicates = df[df.duplicated(subset=['order_id'], keep=False)]

if not duplicates.empty:
    print("Duplicate order_id found:")
    print(duplicates)
else:
    print("No duplicate order_id found.")

No duplicate order_id found.